
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Quiz App</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet'
          href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css'>

    <link href="~/Content/css/style.css" rel="stylesheet" />



    <script>
        $(document).ready(function () {


            $('input:radio[name=btnDogruCvp]:checked').change(function () {
                alert("ff");
                wimdow.alert(dogruCevap);

                var dogruCevap = $(this).siblings(".btnCvp").val();
                wimdow.alert(dogruCevap);
                document.getElementById("dogruCvp").innerHTML = dogruCevap;

            });
            //$(".btnDogruCvp").change(function () {

            //    var dogruCevap = $(this).siblings(".btnCvp");
            //    document.getElementById("dogruCvp").innerHTML = dogruCevap;

            //});
        });
        //$(document).ready(function () {
        //    $("#btnNext").prop("disabled", true);
        //    //$("#quizDogruCvp").hide();
        //    var quizDogruCvp = $("#quizDogruCvp").val();
        //    alert(quizDogruCvp);



        //    $('.quizCevap').click(function () {


        //        var cevap = "akk";
        //        //document.getElementsByName("quizCevap").val();
        //        window.alert(cevap);

        //        if (quizDogruCvp == cevap) {
        //            $(this).css("background-color", "green")
        //        }
        //        else {
        //            $(this).css("background-color", "red")
        //            // $("#quizDogruCvp").show();
        //        }
        //        $("#btnNext").prop("disabled", false);

        //    });

        //});
    </script>

</head>

<body>


    @Html.Partial("_Navbar")

    <div class="container-fluid">
        @RenderBody()

    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    @RenderSection("scripts", false)


    <script>
        $(document).ready(function () {

            $('#secenek').change(function () {

                var dogruCevap = $("input[name='Secenek.dogruCvp']:checked").siblings(".btnCvp").val();
                document.getElementById("dogruCvp").innerHTML = dogruCevap;

            });

        });

    </script>

    @*@
            $(document).ready(function () {
                $("#quizDogruCvp").hide();

                var dogruMu = false;

                var quizDogruCvp = $("#quizDogruCvp").text();
                // alert(quizDogruCvp);
                //alert("doğru cevabı alamadık");

                $('.quizCevap').click(function () {

                   // alert("tıklandı")
                    var cevap = $(this).attr('name');


                    if (quizDogruCvp == cevap) {
                        $(this).css("background-color", "green")
                        dogruMu = true;
                    }
                    else {
                        $(this).css("background-color", "red")
                        // $("#quizDogruCvp").show();
                        dogruMu = false;

                    } var btn = $("#btnNext");
                    btn.removeAttr("disabled");
                    // $("#btnNext").prop("disabled", false);
                    // window.alert(dogruMu);
                });

              //  nextClick = $("#soruSayac").text();
               // alert(nextClick);

                $("#btnNext").click(function () {



                    var soruUniq = $("#SoruUniq").text();

                    $.ajax({

                        url:"/Quiz/QuizSonuc",
                        //url: '@Url.Action("QuizSonuc", "Quiz")',
                        type: 'POST',
                        // dataType: "json",
                        data: "&soruUniq=" + soruUniq + "&sonuc=" + dogruMu,
                        success: function (gelenveri) {

                        },
                        error: function (hata) {
                           // window.alert("hata");

                        }
                    });
                    nextClick++;
                //    alert("sayac --" + nextClick);

                    //$("#soruSayac").text(nextClick);
                    //$("#soruSayac").innerText = nextClick++;
                });


            });


        </script>*@


</body>


@*veritabanı işlemlerinde*@
@*<script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
</html>


