
body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}


.card-title {
    margin-bottom: 50px;
}

.secenek:hover {
    background-color: rgb(177, 176, 176);
}

#soruHazirla {
    padding-top: 30px;
}
/*input[type="file"] {
    display: none;
}*/
/*.quizCevap {
    background-color: blueviolet;
}*/

#quizBaslik {
    margin-bottom: 20px;
}
#home {
    margin-top: 70px;
}


